body{
    font-family: Arial,sans-serif;
    padding: 0;
}

p{
    margin: 0;
    text-align: center;

}
.titulo{
    text-align: center;
    font-size: 10px;
}

.instrucciones{
    margin: 5px 10px;
}

.bordado{
    border: 1px solid black;
}

.informacion{
    display: flex;
    text-align: center;
    font-weight: bold;
}

.infProducto{
    width: 40%;
}

span{
    font-size: 8px;
    text-align: center;
}